<h1 class="text-center text-white d-none d-lg-block site-heading"><span class="text-primary site-heading-upper mb-3">Jasa Servis dan Jual Beli Komputer&nbsp;</span><span class="site-heading-lower">Habibi Computer</span></h1>
    <nav class="navbar navbar-light navbar-expand-lg py-lg-4" id="mainNav" style="background-color: #424874;">
        <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">Habibi</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="products.html">Products</a></li>
                    <li class="nav-item"><a class="nav-link" href="store.html">Store</a></li>
                </ul>
            </div>
        </div>
    </nav>